Backend/node_modules
Backend/.env
Backend/.env.local
Backend/credentials.json
Backend/public
Frontend/node_modules
email-service/node_modules
email-service/.env
email-service/credentials.json
email-service/commands.zsh
Frontend/build
Frontend/.env
Frontend/.env.local
Frontend/.env.development
email-server/.env
email-server/.env.local
email-server/.env.development
streamlit-client/.env
streamlit-client/venv
streamlit-client/email_viewer.log
Ai-service/.env
Ai-service/.env.local
Ai-service/venv
Ai-service/requirements.txt
Ai-service/ai_service.log
